.inputsContainer {
  margin-bottom: 10px;
}

.commentInput {
  padding: 5px;

  &.email {
    margin-left: 10px;
  }
}

.commentBody {
  width: 90%;
  padding: 5px;
}

.commentBodyContainer {
  margin-bottom: 10px;
}
